In [6]:
import scrapy
import pandas as pd
import starmaptools.functions as stf

In [11]:
DOMAIN = 'https://www.edsm.net/en/'

In [7]:
test_systems = pd.read_json('../python-code/data/systemsWithCoordinates7days.json')
test_systems.head()

,name,coords,id,id64,date
0,Eowyg Aihm SI-K d8-1,"{'x': 23852.8125, 'y': 75.125, 'z': -10506.375}",82389598,49836737867,2023-10-18 00:00:04
1,Blua Hypue XL-F c14-130,"{'x': -4172.8125, 'y': -47.875, 'z': 12347.75}",82389599,35811001080954,2023-10-18 00:00:11
2,Stuemeae FL-Y d3797,"{'x': 193.28125, 'y': 96.5, 'z': 25929.9375}",82389600,130474454307723,2023-10-18 00:00:18
3,Pha Auscs RJ-K b37-0,"{'x': 28973.53125, 'y': 279.6875, 'z': 26631.0...",82389601,1059649965889,2023-10-18 00:00:40
4,Flyae Dryoae RH-P c20-1,"{'x': 6458.59375, 'y': -863.6875, 'z': -179.6875}",82389602,369601385138,2023-10-18 00:00:47

In [18]:
test_systems[['id','name']].apply(lambda x: x)

             id                        name
0      82389598        Eowyg Aihm SI-K d8-1
1      82389599     Blua Hypue XL-F c14-130
2      82389600         Stuemeae FL-Y d3797
3      82389601        Pha Auscs RJ-K b37-0
4      82389602     Flyae Dryoae RH-P c20-1
...         ...                         ...
96540  82472766         Clookeou XP-G b56-8
96541  82472767       Prieluia AM-D d12-102
96542  82472768  Hypuae Chraei YT-Y d1-4249
96543  82472769     Dryooe Flyou XJ-D b27-7
96544  82472770        Dumbaa TL-B d14-2537

[96545 rows x 2 columns]